$transparent:                     transparent;
$white:                           #ffffff;
$black:                           #000000;
$navy-blue:                       #0064eb;
$light-gray:                      #808080;
$whisper:                         #e5e5e5;

