@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
}

.nav {
  min-width: 0px;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #0064eb;
}
.nav .nav_logo {
  margin-left: 40px;
}
.nav .nav_search {
  max-width: 500px;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.nav_search__input {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  border: none;
  outline: none;
  margin-left: 11px;
}

.nav_search__img {
  margin-left: 18px;
  width: 14px;
  height: 14px;
}

.initial-state,
.user-not-found {
  height: 100%;
  width: 100%;
}

.initial-state_title,
.user-not-found_title {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  line-height: 30px;
  text-align: center;
  color: #808080;
  width: 220px;
  height: 62px;
  margin-top: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.repo-not-found_title {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  line-height: 30px;
  text-align: center;
  color: #808080;
  height: 30px;
  padding-top: 48px;
}

.user-table {
  display: flex;
  width: 100%;
}

.initial-state_img,
.user-not-found_img,
.repo-not-found_img {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.user-info-container {
  width: 30%;
  padding-top: 40px;
}

.user-info {
  margin-left: 61px;
}

.user-info_photo {
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 50%;
}

.user_photo {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.user-info_name {
  font-family: "Inter", sans-serif;
  font-size: 1.625rem;
  line-height: 34px;
  font-weight: 600;
  line-height: 34px;
  color: #000000;
  padding-top: 35px;
}

.user-info_login {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 22px;
  color: #0064eb;
  margin-top: 12px;
  margin-bottom: 25px;
}

.user-info_followers,
.user-info_following {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 24px;
}

.user-info_followers {
  margin-right: 20px;
}

.user-info_followers-icon,
.user-info_following-icon {
  margin-right: 8px;
}

.progress-bar_user {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 7%;
  transform: translate(-7%, -25%);
}

.repo,
.repo-not-found {
  width: 70%;
  padding-top: 40px;
}

.repo {
  margin-left: 10px;
}

.repo-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.repo_title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 29px;
}

.repo_info {
  width: 877px;
  margin-right: 10px;
}

.repo_info-common {
  margin-right: 10px;
  padding: 24px 32px;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 24px;
}

.repo_info-common a {
  text-decoration: none;
}

.repo_info__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 16px;
  color: #0064eb;
  text-transform: lowercase;
}

.repo_info__description {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 19px;
  text-transform: lowercase;
}

.progress-bar_repo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination-container {
  max-width: 500px;
  height: 25px;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #808080;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.pagination {
  display: flex;
  width: 70%;
  margin-bottom: 28px;
  margin-top: 24px;
  margin-left: auto;
  list-style: none;
  outline: none;
  position: static;
}
.pagination li {
  margin: auto;
}

li.pagination__link--active {
  border: 1px solid #0064eb;
  border-radius: 3px;
  padding: 2px 6px;
  background-color: #0064eb;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .repo_info {
    width: 800px;
  }
}
@media (max-width: 1210px) {
  .repo_info {
    width: 700px;
  }

  .repo {
    margin-left: 30px;
  }
}
@media (max-width: 1100px) {
  .user-info_photo {
    width: 200px;
    height: 200px;
  }

  .user-info_name {
    font-size: 24px;
  }

  .repo_title {
    font-size: 26px;
  }

  .repo_info__title {
    font-size: 24px;
  }

  .user-info_followers,
.user-info_following {
    display: block;
    font-size: 14px;
  }
}
@media (max-width: 974px) {
  .repo_info {
    width: 570px;
  }
}
@media (max-width: 860px) {
  .user-info-container {
    width: 100%;
  }

  .user-table {
    display: block;
  }

  .user-info_followers,
.user-info_following {
    display: inline;
    font-size: 16px;
  }

  .user-info_photo {
    width: 250px;
    height: 250px;
  }

  .user-info_name {
    font-size: 26px;
  }

  .repo-not-found {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  .repo-not-found_img {
    width: 55px;
    height: 55px;
  }

  .repo-not-found_title {
    font-size: 20px;
    line-height: 25px;
  }

  .progress-bar_repo {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}
@media (max-width: 610px) {
  .initial-state_title,
.user-not-found_title {
    font-size: 20px;
    line-height: 25px;
  }

  .initial-state_img,
.user-not-found_img {
    width: 50px;
    height: 50px;
  }

  .pagination-container {
    font-size: 12px;
  }

  .user-info_photo {
    width: 200px;
    height: 200px;
  }

  .user-info_name {
    font-size: 24px;
  }

  .repo_title {
    font-size: 24px;
  }

  .repo_info__title {
    font-size: 22px;
  }

  .repo_info {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .repo_info {
    width: 400px;
  }

  .repo_title {
    font-size: 22px;
  }

  .repo_info__title {
    font-size: 20px;
  }

  .repo_info__description {
    font-size: 14px;
  }

  .repo-not-found_title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 435px) {
  .repo_info {
    width: 350px;
  }

  .repo-not-found_img {
    width: 50px;
    height: 50px;
  }

  .repo-not-found_title {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .repo_info {
    width: 290px;
  }

  .pagination-container {
    flex-direction: column;
  }

  .pagination {
    margin-left: 0px;
  }

  .repo-not-found {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .progress-bar_repo {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}
@media (max-width: 320px) {
  .repo-not-found {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
  }

  .progress-bar_repo {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
  }
}

/*# sourceMappingURL=style.css.map */
